<script src="//cdn.jsdelivr.net/sortable/latest/Sortable.min.js"></script>
<script src="//cdn.jsdelivr.net/clipboard.js/1.5.8/clipboard.min.js"></script>

<div id="vote" class="row">
  <div class="center col-md-6 col-xs-12 cover">
    <h1><i><%= @poll.question %></i></h1>
    <%= form_for @poll, url: {action: 'create_vote'}, method: :post do |f| %>
      <%-# <!-- Sorting --> -%>
      <% if @poll.voting_style.to_sym == :sort %>
        <!-- Use spans, order by preference, call drag drop plugin on div? -->
        <!-- After sorting, onSubmit will need to collect spans by order and string to server (,) seperated -->
        <!-- Scoring will take place in the backend -->
        <div class="row">
          <div class="col-xs-12">
            <ul id="sortable">
              <% @poll.options_by_score.each do |option| %>
                <li score="<%= option.score %>" id="<%= option.id %>">
                  <div class="option">
                    <%= image_tag 'dots.svg' %>
                    <%= option.text %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

          <script type="text/javascript">
             $(document).on("click","input[type=submit]",function(event) {
                event.preventDefault();
                var IDs = [];
                $("#sortable").find("li").each(function(){ IDs.push(this.id); });
                $('<input>').attr({type: 'hidden',name: 'options', value: IDs.join()}).appendTo('form');
                $('form').submit();
              });
          </script>

            <script type="text/javascript">
              var el = document.getElementById('sortable');
              var sortable = Sortable.create(el);
            </script>
      <% else %>
        <%-# <!-- Other options --> -%>
        <div class="row">
          <div class="col-xs-12">
            <ul id="chose_one">
              <% @poll.options.each_with_index do |option, index| %>
                <% case @poll.voting_style.to_sym %>
                <% when :choose_one %>
                      <%-# <!-- Radio button for single option votes --> -%>
                      <div class="chose_one">
                        <label for="poll_id_<%= option.id %>">
                          <li <% if index == 0 %>class="selected"<% end %>>
                          <%= f.radio_button :id, option.id %>
                          <%= option.text %>
                        </li>
                      </label>
                    </div>
                <% when :choose_any %>
                  <%-# <!-- Checkboxes button for single option votes --> -%>
                  <div class="choose_any">
                    <label for="poll_id_<%= option.id %>">
                      <li>
                        <%= f.check_box :id, {multiple: true}, option.id, nil %>
                        <%= option.text %>
                      </li>
                    </label>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="row vote">
        <div class="col-sm-12">
          <%= f.submit 'Cast Your Vote', class: 'btn btn-success btn-lg' %>
        </div>
      </div>
      <div class="row view-results">
        <div class="col-sm-12">
          <%= link_to "Skip to the results", "#{@poll.slug}/results", class: 'view-results' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 share-btn">
    <button class="btn share btn-primary" data-clipboard-text="http://askr.xyz<%= polls_path @poll.slug %>">
      <span class="glyphicon glyphicon-share"></span>
      Share Poll with Your Friends!
    </button>  </div>
</div>

<script>
  $('.chose_one label').click(function() {
    $('li').removeClass('selected');
    $(this).children().first().addClass('selected');
  });

  new Clipboard('.share');
</script>
