<!DOCTYPE html>
<html>
<head>
  <title>Askr.xyz is the shit</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Askr.xyz', root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<div class="container" id="contentMain">
  <%= yield %>
</div>

<div class="footer">
  Askr.xyz
</div>

</body>
</html>
